*{
    padding: 0;
    margin: 0;
}
.content {
    /* margin-left: 400px; */
    margin-top: 200px;
    /* width: 1120px; */
    /* margin: auto; */
    text-align: center;
    position: absolute;
}
h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    text-align: center;
}
h1:hover{
    transition: 0.5s;
    color: rgb(103, 77, 77);
}
.btn1{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    /* font-size: 24px; */
    border: 2px solid white;
    /* padding: 14px 50px; */
    width: 90px;
    height: 50px;
    margin-top: 20px;
    transition: 0.5s;
}
.btn1:hover{
    background-color: rgb(101, 89, 73);
}
video{
width: 100%;
position: absolute;
}
.vid{
    position: relative;
}